/* basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #f3dede;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.screen {
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active {
    display: block;
}
 /* start screen */
 #start-screen h1 {
    color: #f68e8e;
    margin-bottom:  20px;
    font-size: 2.5rem;
 }

 .quiz-header {
    margin-bottom: 2rem;
 }

 #question-text {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
 }
 .quiz-info {
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
 }

 .answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }